Project Overview
For this project, you will use data cleaning, imputation, analysis, and visualization to generate insights for a business stakeholder.
Business Problem
Your company is expanding in to new industries to diversify its portfolio. Specifically, they are interested in purchasing and operating airplanes for commercial and private enterprises, but do not know anything about the potential risks of aircraft. You are charged with determining which aircraft are the lowest risk for the company to start this new business endeavor. You must then translate your findings into actionable insights that the head of the new aviation division can use to help decide which aircraft to purchase.
Data- Key Points
•	Your analysis should yield three concrete business recommendations. The key idea behind dealing with missing values, aggregating and visualizaing data is to help your organization make data driven decisions. You will relate your findings to business intelligence by making recommendations for how the business should move forward with the new aviation opportunity.
•	Communicating about your work well is extremely important. Your ability to provide value to an organization - or to land a job there - is directly reliant on your ability to communicate with them about what you have done and why it is valuable. Create a storyline your audience (the head of the aviation division) can follow by walking them through the steps of your process, highlighting the most important points and skipping over the rest.
•	Use plenty of visualizations. Visualizations are invaluable for exploring your data and making your findings accessible to a non-technical audience. Spotlight visuals in your presentation, but only ones that relate directly to your recommendations. Simple visuals are usually best (e.g. bar charts and line graphs), and don't forget to format them well (e.g. labels, titles).
Project Deliverables
a)	Non technical Presentation
The non-technical presentation is a slide deck presenting your analysis to business stakeholders.
•	Non-technical does not mean that you should avoid mentioning the technologies or techniques that you used, it means that you should explain any mentions of these technologies and avoid assuming that your audience is already familiar with them.
•	Business stakeholders means that the audience for your presentation is the business, not the class or teacher. Do not assume that they are already familiar with the specific business problem.
The presentation describes the project goals, data, methods, and results. It must include at least three visualizations which correspond to three business recommendations.
We recommend that you follow this structure, although the slide titles should be specific to your project:
1.	Beginning
o	Overview
o	Business Understanding
2.	Middle
o	Data Understanding
o	Data Analysis
3.	End
o	Recommendations
o	Next Steps
o	Thank You
	This slide should include a prompt for questions as well as your contact information (name and LinkedIn profile)
1.	Beginning: tell them what you're going to tell them
o	The problem
o	The solution
o	The data and tools you will use to solve it
2.	Middle: tell them
o	A deeper description of the data and relevant variables
o	What type of approach your analysis took (descriptive statistics, inferential statistics, prediction, etc.)
o	The findings of your analysis
3.	End: tell them what you told them
o	How your solution solves the business problem (i.e. recommendations)
o	How much better your solution is than the baseline/status quo
o	What impacts your confidence in the solution, limitations
o	How to build off your work with next steps and future work
The graded elements of the presentation are:
•	Presentation Content
•	Slide Style
•	Presentation Delivery and Answers to Questions

b)	 Jupyter Notebook
•	Markdown should be used to frame the project with a clear introduction and conclusion, as well as introducing each of the required elements.
Along with the presentation, the notebook also describes the project goals, data, methods, and results.
You will submit the notebook in PDF format on Canvas as well as in .ipynb format in your GitHub repository.
The graded elements for the Jupyter Notebook are:
•	Business Understanding
•	Data Understanding
•	Data Preparation
•	Data Analysis
•	Code Quality
c)	GitHub Repository

A professional GitHub repository has:
1.	README.md
o	A file called README.md at the root of the repository directory, written in Markdown; this is what is rendered when someone visits the link to your repository in the browser
o	This file contains these sections:
	Overview
	Business Understanding
	Include stakeholder and key business questions
	Data Understanding and Analysis
	Source of data
	Description of data
	Three visualizations (the same visualizations presented in the slides and notebook)
	Conclusion
	Summary of conclusions including three relevant findings
2.	Commit history
o	Progression of updates throughout the project time period, not just immediately before the deadline
o	Clear commit messages
o	Commits from all team members (if a group project)
3.	Organization
o	Clear folder structure
o	Clear names of files and folders
o	Easily-located notebook and presentation linked in the README
4.	Notebook(s)
o	Clearly-indicated final notebook that runs without errors
o	Exploratory/working notebooks (can contain errors, redundant code, etc.) from all team members (if a group project)
5.	.gitignore
o	A file called .gitignore at the root of the repository directory instructs Git to ignore large, unnecessary, or private files
	Because it starts with a ., you will need to type ls -a in the terminal in order to see that it is there

d)	Interactive Dashboard

The interactive dashboard is a collection of views that allows the viewer to change the views to understand different features in the data. This dashboard will be linked within your GitHub repository README.md file so that users can explore your analysis. Make sure you follow visual best practices that you have learned in this course. Below is an example of what you could produce for this assignment.


Grading
To pass this project, you must pass each project rubric objective. The project rubric objectives for Phase 1 are:
1.	Data Communication-Communicating basic data analysis results. By "basic data analysis" we mean that you are filtering, sorting, grouping, and/or aggregating the data in order to answer business questions, descriptive statistics such as measures of central tendency are encouraged.
2.	Authoring Jupyter Notebooks
3.	Data Manipulation and Analysis with pandas
4.	Interactive Data Visualization- use Tableau



Business understanding
Data understanding
Data preparation
Modeling
Evaluating
Deployment

Data analytics
Descriptive
Diagnostic
Predictive
Prescriptive- give recommendation

How to Export Jupyter Notebook to PDF in Vscode? Open your Jupyter Notebook files in Vscode. In the Vscode command palette write "Export" in the search bar and choose the "Jupyter: Export to PDF" option from the list. This will convert the notebook file to PDF and save it in the same folder.

Data Cleaning
Location- on missing locations put unknown
Country- “
Latitude and Longitude- drop
Airport name- “
Aircraft.damage- “
Aircraft category- fillna mode iloc- airplane
Registration- drop
Make- unknown
Model- “
Amateur- unknown
No. of engines- both blanks and 0 put unknown
Engine type- unknown
FAR description-“
Purpose of flight- unknown
Air carrier- drop
Total fatal, serious, minor, uninjured- unknown
Weather condition- unknown
Broad phased unknown
Report status- drop
Top ten make, model with highest fatalities
Injury.Severity-  remove number and keep fatal and non fatal- fill na.iloc 0
Group by injury.severity with fatal no.
To identify which aircrafts or make have the lowest risk in terms of incident and accident rates
To identify locations or environments where incidents or accidents are more frequent
To determine whether to invest in amateur aircrafts in regard with frequency of accidents and incidents
To determine the make with least no. of fatalities
To determine factors that contribute to aircraft risk, that is, make/model, weather condition, Location
To determine purpose of the flight

Skewness- bar plot, histogram for numerical data
Unique values in make

https://www.ntsb.gov/Pages/AviationQueryv2.aspx- aircraft details
vmc- visual metrological conditions- good visibility they can see
imc- instrument metrological conditions- poor visibility uses instrument flight rules …or 

create a new repository on the command line
echo "# Project-Aviation-Investment" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/vnelima/Project-Aviation-Investment.git
git push -u origin main
…or push an existing repository from the command line
git remote add origin https://github.com/vnelima/Project-Aviation-Investment.git
git branch -M main
git push -u origin main



